@media only screen and (min-width: 10px) and (max-width: 916px) {

    DIV.main {
        position: relative;
        min-width: 100%;
        font-size: 14px;
        margin-top: 34px;
    }

    DIV.header {
        display: inline-block;
        height: 30px;
        width: 100%;
    }

    DIV.logo {
        display: block;
        margin-top: 21px;
        margin-left: 20px;
        text-align: left;
    }

    DIV.logo a{
        color:white;
        font-size: 28px;
        text-decoration: none;

    }

    .help {
        margin-top: 15px;
        position: relative;
        float: left;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.3);
        -moz-border-radius: 15px;
        border-radius: 15px;
        clear: both;
        font-size: 100%;
    }

    .help > div {
        float: left;
        min-width: 100%;
        min-height: 85px;
        margin-left: 10px;
    }

    #wideFooter {
        display: none;
    }

    DIV.ikra, .textMistake, #foo1_prev, #foo1_next, .button_PN {
        display: none;
    }

    .helperInscription {
        margin-left: 7px !important;
    }

    /*News-------------------------------------------------------------------------*/

    .caroufredsel_wrapper, .AnonsInMain {
        position: static !important;
        height: auto !important;
    }

    .caroufredsel_wrapper {
        margin-top: 10px !important;
        max-width: 85%;
    }

    .AnonsInMain {
        width: 100% !important;
    }

    .AnonsArtMain {
        width: 100% !important;
        margin: 0 2% 15px 2% !important;
        float: none !important;
        clear: both !important;
        display: table !important;
    }

    .AnonsImgMain {
        float: left;
    }

    .AnonsImgMain IMG {
        padding: 3px;
    }

    DIV.MenuMainIn .news_headings A {
        color: #fff;
        display: block;
    }

    DIV.MenuMainIn .news_headings A {
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 12px;
        color: #fff;
        display: block;
        padding: 4px 6px 4px 6px;
    }

    DIV.MenuMainIn .news_headings A.current_url {
        background-color: #1b2257;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }

    DIV.MenuMainIn .news_headings A.LentaRSS, #all_news A.LentaRSS {
        margin-left: 24px;
        margin-top: 11px;
        padding: 0 2px 0 4px;
        font-size: 10px;
        display: block;
        width: 20px;
        background-color: #ea8027;
        text-decoration: none;
        color: #fff
    }

    DIV.MenuMainIn .news_headings A.LentaRSS:visited, #all_news A.LentaRSS:visited {
        background-color: #ea8027;
        color: #fff
    }

    DIV.MenuMainIn .news_headings A.LentaRSS:hover, #all_news A.LentaRSS:hover {
        background-color: #ca2222;
        color: #fff
    }

    DIV.menu{
        padding-top: 0px;
        padding-left: 116px;
        margin-top: -21px;
    }

    DIV.menu ul li {
        line-height: 2;
        display: block;
    }

    DIV.menu ul li a{
        font-size: 18px;
        padding: 4px;
        margin-right: 2px;
        color: #fff;
        background-color: #b10000;
        text-decoration: none;
    }

     @media only screen and (max-width: 296px) { 
        DIV.menu {
            position: absolute !important;
            right: 0px;
        }

        DIV.menu ul li{
            width: 135px;
        }

        DIV.menu ul li {
            display: inline-block !important;
        }
    }

    #all_news {
        padding-left: 10px;
        margin-bottom: 5px;
        padding-bottom: 15px
    }

    #all_news A {
        font-size: 16px;
        float: left
    }

    #all_news A.LentaRSS {
        margin-left: 15px;
        margin-top: 7px;
        padding: 0 2px 0 4px;
        font-size: 10px;
        font-family: Verdana;
        display: block;
        width: 20px;
        background-color: #ea8027;
        text-decoration: none;
        color: #fff
    }

    #all_news A.LentaRSS:visited {
        background-color: #ea8027;
    }

    #all_news A.LentaRSS:hover {
        background-color: #ca2222;
    }

    .AnonsArtRubric {
        display: inline;
        float: left;
        margin-left: 30px;
    }

    .AnonsArtRubric .In {
        float: left
    }

    .AnonsArtRubric .InText {
        margin-left: 170px
    }

    .AnonsArtRubric .InText DIV {
        font-size: 11px;
        font-family: Helvetica;
        margin-bottom: 3px;
    }

    .NewsContent {
        width: 90%;
        margin-right: 60px;
    }

    .NewsContent H1 {
        margin-top: 0;
        line-height: 30px;
    }

    .AnonsOther {
        float: left;
        width: 100%;
        margin-top: 35px;
    }

    .AnonsArtMain .AnonsTextMain DIV {
        font-size: 9px;
        font-family: Helvetica;
        margin-bottom: 4px;
        color: #606060;
    }

    #bottomBlock {
        display: block;
        float: left;
    }

    DIV.footer {
        width: 100%;
        font-size: 8px;
        color: #606060;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .NewsMainMain {
        display: block;
        padding-top: 176px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    html {
        overflow-x: visible;
    }

}