@import url(/style_desktop.css);
@import url(/style_mobile.css);

html,body {
outline:0;
font-weight:inherit;
font-style:inherit;
font-family:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

BODY, A {
font-size:16px;
font-family:Times New Roman;
}

A {
color:#000075;
}

A:hover {
color:#d00101;
text-decoration:none;
}

DIV.mainpath {
margin-left:70px;
margin-right:20px;
}

DIV.ikra {
position:absolute;
right:0;
width:216px;
height:264px;
border-width:0;
margin-top: 30px;
}

#bottomBlock {
display:block;
float:left;
width:90%;
}

DIV.footer A {
font-size:14px;
color:#606060;
}

TABLE.menuMain A:hover {
color:#d00101;
}

TABLE.menuMain A:hover IMG {
border:1px dotted #d00101;
}

.helperInscription {
font-size:30px;
margin-left:49px;
}

.titleOfElement {
display:block;
margin-left:72px;
}

.titleOfElement a {
font-size:20px;
}

.titleOfElement p {
color:#414141;
font-size:14px;
margin-top:0;
}

.help img {
border:1px dashed #b0b0b0;
float:left;
width:60px;
height:60px;
}

.NewsMainMain {
padding-left:103px;
padding-right:90px;
}

.AnonsArtMain .AnonsTextMain DIV {
font-size:10px;
font-family:Helvetica;
margin-bottom:4px;
color:#606060;
}

.button_PN {
width:100%;
position:relative;
}

a.prev,a.next {
background:url(/design/button_news_new_2.png) no-repeat transparent;
width:67px;
height:67px;
display:block;
border:0;
top:32px;
}

a.prev {
float:left;
margin-left:-81px;
background-position:0 -67px;
}

a.prev:hover {
background-position:0 0;
}

a.prev.disabled {
background-position:0 -134px!important;
}

a.next {
float:right;
margin-right:-70px;
background-position:-67px -67px;
}

a.next:hover {
background-position:-67px 0;
}

a.prev.disabled,a.next.disabled {
cursor:default;
}

a.prev span,a.next span {
display:none;
}

A:visited, A:visited {
color:#000075;
}

DIV.footer A:visited {
color:#606060;
}

input,textarea {
border:1px #cfc0a2 solid;
font-size:14px;
}

.AnonsArtMain .AnonsImgMain,.AnonsArtRubric .In {
float:left;
}