DIV.helperInscription {
    font-size: 35px;
    margin-top: 0%;
}

DIV.advertsInscription {
    margin-top: 0%;
    margin-left: 52%;
    font-size: 35px;
}

DIV.helperArrow {
    postiton: absolute;
    margin-left: 30%;
    margin-top: -3.5%;
    width: 2%;
    font-size: 15px;
    color: #b10000;
}

DIV.advertsArrow {
    margin-left: 82.5%;
    margin-top: -6.3%;
    font-size: 15px;
    color: #b10000;
}

DIV.textMistake {
    width: 100%;
    position: relative;
    margin-top: 13em;
    color: #888888;
    font-size: x-small;
}

DIV.help {
    position: relative;
    float: left;
    width: 70%;
}

.elementOfHelp {
    display: inline;
    padding: 8px 20px 8px 20px;
    float: left;
    color: #666666;
}

.titleOfElement{
    float: left;
    margin: 5px 0 0 5px;
}

.titleOfElement p{
    max-width: 70%;
    color: #414141;
    font-size: x-small;
}

.helperImage{
    float: left;
}
