    .helperInscription {
    font-size: 35px;
}

.advertsInscription {
    font-size: 35px;
}

.textMistake {
    width: 90%;
    display: block;
    padding-left: 50px;
    margin-top: 5em;
    color: #888888;
    font-size: x-small;
}

.help {
    position: relative;
    float: left;
    max-width: 55%;
}

.help > div > div {
    padding: 8px 20px 8px 20px;
    min-height: 75px;

}

.informer{
    position: relative;
    float: right;
    width: 40%;
    max-width: 45%;
}

/*
.elementOfHelpLeft {
    position: relative;
    padding: 8px 20px 8px 20px;
    float: left;
    color: #666666;
}

.elementOfHelpRight {
    position: relative;
    padding: 8px 20px 8px 20px;
    float: right;
    color: #666666;
}
*/

.titleOfElement{
    display: block;
    margin-left: 80px;
}

.titleOfElement a{
    font-size: 20px;
}

.titleOfElement p{ /*Стиль подзаголовка*/
    color: #414141;
    font-size: x-small;
}

.helperImage{
    float: left;
    width:60px;
    height:60px;
}

.leftElements{
    float: left;
    width: 50%;
}

.rightElements{
    float: left;
    width: 50%;
}

#bottomBlock{
    display: inline-block;
}