html, body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

BODY {
    font-size: 16px;
    font-family: Times New Roman;
    min-width: 1192px;
}

TABLE {
    font-size: 16px;
    font-family: Times New Roman;
}

A {
    font-size: 16px;
    font-family: Times New Roman;
    color: #000075;
}

A:visited {
    color: #000075;
}

A:hover {
    color: #d00101;
    text-decoration: none;
}

DIV.header {
    height: 118px;
    width: 100%;
}

DIV.logo {
    padding-left: 250px;
}

DIV.logo A {
    font-size: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

DIV.logo A:hover {
    color: #FFFFFF;
}

DIV.logo A:visited {
    color: #FFFFFF;
}

DIV.menu {
    padding-left: 494px;
}

DIV.menu A {
    font-size: 20px;
    margin-right: 10px;
}

DIV.mainpath {
    margin-left: 70px;
    margin-right: 20px;
}

DIV.main {
    position: relative;
    margin-left: 50px;
    margin-right: 217px;
    min-width: 760px;
}

DIV.ikra {
    position: absolute;
    right: 0px;
    width: 216px;
    height: 264px;
    margin: 0px;
    border-width: 0px;
}

#clear {
    clear: both;
}

DIV.footer {
    width: 100%;
    padding-left: 70px;
    font-size: 14px;
    color: #606060;
    padding-top: 60px;
    padding-bottom: 30px;
}

DIV.footer A {
    font-size: 14px;
    color: #606060;
}

DIV.footer A:visited {
    color: #606060;
}

TABLE.menuMain IMG {
    border: 1px dotted #000075;
}

TABLE.menuMain A {
    font-size: 20px;
    color: #000075;
}

TABLE.menuMain A:visited {
    color: #000075;
}

TABLE.menuMain A:hover {
    color: #d00101;
}

TABLE.menuMain A:hover IMG {
    border: 1px dotted #d00101;
}

TABLE.AlphbetPhone TD {
    padding: 5px;
    vertical-align: top;
}

TABLE.AlphbetPhone TH {
    border-bottom: 1px solid #cfc0a2;
    vertical-align: bottom;
}

TABLE.PhSpr TD {
    padding: 5px;
    vertical-align: top;
}

TABLE.PhSpr TH {
    border-bottom: 1px solid #cfc0a2;
    vertical-align: bottom;
}

TABLE.PhSpr TD EM {
    color: #606060;
}

TABLE.PhSpr TD I {
    color: #606060;
}

TABLE.PhSpr TD.hdr {
    border-top: 1px solid #cfc0a2;
}

TABLE.timetable TH {
    border-bottom: 1px solid #cfc0a2;
    vertical-align: bottom;
    text-align: left;
    font-size: 24pt;
    font-style: italic;
    font-weight: normal;
}

TABLE.timetable TD EM {
    color: #606060;
}

TABLE.timetable TD SUP {
    text-decoration: underline;
}

P.linksGroup A {
    padding: 5px 5px 5px 5px;
}

.hoverAlpha {
    background-color: #f5ecdb;
}

/*.clickedAlpha { background-color: #09202e; color:#fc9234; }*/

HR {
    color: #e6dcca;
    background-color: #e6dcca;
    height: 1px;
    border-width: 0px;
}

input {
    border: 1px #cfc0a2 solid;
    font-size: 14px;
}

textarea {
    border: 1px #cfc0a2 solid;
    font-size: 14px;
}

/* ������ ������� -------------------------------------------------------------------*/

#contact-wrapper {
    padding: 20px;
}

#contact-wrapper .submit {
    background-color: #b10000;
    border: 1px solid #b10000;
    color: #ffffff;
    font-style: italic;
    font-family: Times New Roman;
}

/* ���������� ���� �------------------------------------------------------------------*/

ul#cssmenu,
ul#cssmenuPh,
ul#cssmenuFilter {
    position: absolute;
    z-index: 1;
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none;
    height: 30px;
}

ul#cssmenu li,
ul#cssmenuPh li,
ul#cssmenuFilter li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left;
    display: inline;
    list-style: none;
    position: relative;
}

ul#cssmenu ul,
ul#cssmenuPh ul,
ul#cssmenuFilter ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
}

ul#
cssmenu ul:after,
ul#cssmenuPh ul:after,
ul#cssmenuFilter ul:after {
    clear: both;
    display: block;
    font: 1px/0px;
    content: ".";
    height: 0;
    visibility: hidden;
}

ul#cssmenu ul li,
ul#cssmenuPh ul li,
ul#cssmenuFilter ul li {
    float: left;
    display: block !important;
    display: inline;
}

/* Main Menu */
ul#cssmenu a,
ul#cssmenuFilter a,
ul#cssmenuPh a {
    float: none !important;
    float: left;
    display: block;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenuPh li:hover li a,
ul#cssmenuFilter li:hover li a, ul#cssmenuFilter li:hover li b,
ul#cssmenu li.iehover li a,
ul#cssmenuPh li.iehover li a,
ul#cssmenuFilter li.iehover li a, ul#cssmenuFilter li.iehover li b {
    float: none;
}

ul#cssmenu ul ul,
ul#cssmenuFilter ul ul,
ul#cssmenuPh ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 170px;
}

ul#cssmenu li:hover ul,
ul#cssmenuPh li:hover ul ul,
ul#cssmenuFilter li:hover ul ul,
ul#cssmenu li.iehover ul ul,
ul#cssmenuFilter li.iehover ul ul,
ul#cssmenuPh li.iehover ul ul {
    display: none;
}

ul#cssmenu a,
ul#cssmenuFilter a,
ul#cssmenuPh a {
    color: #FFFFFF;
    font-size: 16px;
}

ul#cssmenu a.MenuIn,
ul#cssmenuFilter a.MenuIn,
ul#cssmenuPh a.MenuIn {
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px dashed;
    margin: 0px 15px 0px 0px;
    color: #b10000;
}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul,
ul#cssmenuFilter li:hover ul,
ul#cssmenuFilter ul li:hover ul,
ul#cssmenuFilter li.iehover ul,
ul#cssmenuFilter ul li.iehover ul,
ul#cssmenuPh li:hover ul,
ul#cssmenuPh ul li:hover ul,
ul#cssmenuPh li.iehover ul,
ul#cssmenuPh ul li.iehover ul {
    display: block;
    background-color: #b10000;
    margin: 0px 15px 0px 20px;
    -moz-box-shadow: -3px 7px 7px #402020;
    -webkit-box-shadow: -3px 7px 7px #402020;
    box-shadow: -3px 7px 7px #402020;
}

ul#cssmenu li:hover a.MenuIn,
ul#cssmenu ul li:hover a.MenuIn,
ul#cssmenu li.iehover a.MenuIn,
ul#cssmenu ul li.iehover a.MenuIn,
ul#cssmenuFilter li:hover a.MenuIn,
ul#cssmenuFilter ul li:hover a.MenuIn,
ul#cssmenuFilter li.iehover a.MenuIn,
ul#cssmenuFilter ul li.iehover a.MenuIn,
ul#cssmenuPh li:hover a.MenuIn,
ul#cssmenuPh ul li:hover a.MenuIn,
ul#cssmenuPh li.iehover a.MenuIn,
ul#cssmenuPh ul li.iehover a.MenuIn {
    background-color: #b10000;
    color: #FFFFFF;
    border-bottom: 0px;
    cursor: default;
    -moz-box-shadow: -3px 7px 7px #402020;
    -webkit-box-shadow: -3px 7px 7px #402020;
    box-shadow: -3px 7px 7px #402020;
}

/* .mainmenu li:hover ul { left: auto; background: url('/design/ornament.jpg'); margin: 0px 10px 0px 10px; } */

/* ��������� �------------------------------------------------------------------------------- */

FORM.search input.search_input {
    border: 1px #b10000 solid;
    font-size: 8pt;
    width: 240px;
}

FORM.search input.search_image {
    border: 0px;
    cursor: hand;
    cursor: pointer;
}

A.menu {
}

A.menu:visited {
}

A.menu:hover {
}

A.submenu {
}

SPAN.cur {
    color: #FFFFFF;
    width: 18px;
    height: 15px;
    border: 1px solid #b10000;
    background-color: #b10000;
    font-size: 16px;
}

SPAN.oth {
    font-size: 13px;
    width: 18px;
    height: 15px;
}

TABLE.inTable {
    background-color: #fdf7e6;
}

TR.tcom {
    font-style: italic;
}

FONT.datacolor {
    color: #978665;
    font-size: 10px;
}

DIV.path {
    padding-right: 20px;
    padding-bottom: 20px;
}

DIV.path A {
    font-size: 11px;
}

DIV.path A:hover {
    color: #d30000;
}

DIV.path A:visited {
    color: #000075;
}

.NewsInMain span {
    font-size: x-small;
    font-family: georgia, palatino;
    font-style: italic;
}

A.newsAll {
    font-size: 20px;
}

A.linkNews {
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

A.linkNews:visited {
    color: #000000;
}

A.newsm {
    font-size: 16px;
}

DIV.FilesInMain {
}

DIV.FilesInMain DIV {
    padding-bottom: 20px;
}

DIV.FilesInMain A {
}

DIV.FilesInMain A:visited {
}

A.FilesAll {
}

A.linkFiles {
}

A.linkFiles:hover {
}

A.linkFiles:visited {
}

SPAN.CurFilter {
    color: #FFFFFF;
    border: 1px solid #b10000;
    background-color: #b10000;
    font-weight: bold;
    font-size: 13px;
}

SPAN.NextFilter {
}

SPAN.NextFilter A {
    font-size: 13px;
}

DIV.FilesInPage {
}

DIV.FilesInPage DIV {
    padding-bottom: 10px;
}

DIV.FilesInPage A {
    font-size: 18px;
}

DIV.FormAddFiles {
}

DIV.FormAddFiles input, select {
    font-size: 12px;
    width: 450px;
}

DIV.FormAddFiles textarea {
    font-size: 12px;
    width: 450px;
    height: 150px;
}

DIV.FormAddFiles input.AddFileBut {
    border: 0px;
    cursor: hand;
    cursor: pointer;
    width: 94px;
    height: 17px;
}

DIV.FormAddFiles span {
    font-size: 10px;
}

DIV.FormAddFiles DIV.err {
    font-size: 12px;
    color: #FF0000;
}

DIV.searchFiles DIV {
    padding-bottom: 10px;
}

DIV.searchFiles A {
}

DIV.DocsInMain {
    padding-bottom: 0px;
}

DIV.DocsInMain DIV {
    padding-bottom: 15px;
}

DIV.DocsInMain DIV A {
    font-size: 16px;
}

DIV.DocsInMain DIV A:hover {
}

DIV.DocsInMain DIV A:visited {
}

A.DocsAll {
}

A.DocsAll:hover {
}

A.DocsAll:visited {
}

A.linkDocs {
}

A.linkDocs:hover {
}

A.linkDocs:visited {
}

DIV.DocsInPage {
}

DIV.DocsInPage DIV {
    padding-bottom: 10px;
}

DIV.DocsInPage A {
    font-size: 18px;
}

DIV.FormAddDocs {
}

DIV.FormAddDocs input, select {
    font-size: 12px;
    width: 450px;
}

DIV.FormAddDocs textarea {
    font-size: 12px;
    width: 450px;
    height: 150px;
}

DIV.FormAddDocs input.AddDocBut {
    border: 0px;
    cursor: hand;
    cursor: pointer;
    width: 94px;
    height: 17px;
}

DIV.FormAddDocs span {
    font-size: 10px;
}

DIV.FormAddDocs DIV.err {
    font-size: 12px;
    color: #FF0000;
}

DIV.searchDocs DIV {
    padding-bottom: 10px;
}

DIV.searchDocs A {
}

input.radio {
    border: 0px;
}

input.sBox {
    border: 0px;
}

input.btn {
    border: 0px;
    cursor: hand;
    cursor: pointer;
}

input.usr {
    font-size: 7pt;
}

input.sbm {
    border: 1px #b10000 solid;
    color: #ffffff;
    background-color: #FFFFFF;
    cursor: hand;
    cursor: pointer;
}

.search_image {
    border: 0px;
    cursor: hand;
    cursor: pointer;
}

input.searchFile {
    width: 500px;
}

select.selectFile {
    font-size: 12px;
}

input.searchDoc {
    width: 50%;
}

select.selectDoc {
    font-size: 12px;
}

/* �������� > ��������----------------------------------------------------------------------------*/
div.menuMain IMG {
    border: 1px dotted #000075;
}

div.menuMain A {
    font-size: 20px;
    color: #000075;
}

div.menuMain A:visited {
    color: #000075;
}

div.menuMain A:hover {
    color: #d00101;
}

div.menuMain A:hover IMG {
    border: 1px dotted #d00101;
}

/* ����㠫쭠� ������ �� �㧥� ----------------------------------------------------------------------------------------------------------------------------*/

#vi_toolbar {
    position: fixed;
    z-index: 3;
    right: 100px;
    top: 10px;
    padding: 5px;
    background: rgba(12, 19, 62, 0.8);
    border-radius: 4px;
}

#vi_exit {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px;
    width: 38px;
    height: 38px;
    background: rgba(12, 19, 62, 0.8) url(scripts/vi/close.png) center center no-repeat;
    z-index: 999;
    border-radius: 4px;
}

#vi_toolbar img {
    border: 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

#vi_img_title {
    position: fixed;
    z-index: 3;
    left: 10px;
    top: 10px;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    background: rgba(12, 19, 62, 0.7);
    border-radius: 4px;
}

#vi_bg {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#vi_bg img {
    border: 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

#vi_bgimg {
    display: none;
    -ms-interpolation-mode: bicubic;
}

#vi_preloader {
    position: relative;
    z-index: 3;
    width: 66px;
    top: 200px;
    margin: auto;
}

#vi_preloader img {
    border: 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    width: 66px;
    height: 66px;
}

#vi_thumbnails_wrapper {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(/scripts/vi/empty.gif);
}

#vi_outer_container {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 40px auto;
}

#vi_outer_container .vi_thumbScroller {
    position: relative;
    overflow: hidden;
    background: rgba(12, 19, 62, 0.6);
}

#vi_outer_container .vi_thumbScroller, #vi_outer_container .thumbScroller .container, #outer_container .thumbScroller .content {
    height: 122px;
}

#vi_outer_container .vi_thumbScroller .vi_container {
    position: relative;
    left: 0;
}

#vi_outer_container .vi_thumbScroller .vi_content {
    float: left;
}

#vi_outer_container .vi_thumbScroller .vi_content div {
    margin: 5px;
    height: 100%;
}

#vi_outer_container .vi_thumbScroller img {
    border: 1px solid #000;
    border-radius: 0px;
}

#vi_outer_container .vi_thumbScroller .vi_content div a {
    display: block;
    padding: 5px;
}

.vi_nextImageBtn, .vi_prevImageBtn {
    display: block;
    position: absolute;
    width: 40px;
    height: 100px;
    top: 40%;
    margin: -25px 10px 0 10px;
    z-index: 3;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    border-radius: 4px;
}

.vi_nextImageBtn:hover, .vi_prevImageBtn:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.vi_nextImageBtn {
    right: 0;
    background: rgba(12, 19, 62, 1) url(/scripts/vi/nextImgBtn.png) center center no-repeat;
}

.vi_prevImageBtn {
    background: rgba(12, 19, 62, 1) url(/scripts/vi/prevImgBtn.png) center center no-repeat;
}


