/*Код css для блочной верстки блока main*/
.helperInscription {
    font-size: 35px;
}

.textMistake {
    width: 90%;
    display: block;
    padding-left: 50px;
    margin-top: 5em;
    color: #888888;
    font-size: x-small;
}

.help {
    margin-top: 30px;
    position: relative;
    float: left;
    max-width: 1490px;
    background-color: rgba(255, 255, 255, 0.3);
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.help > div {
    float: left;
    width: 400px;
    min-height: 85px;
    margin-left: 50px;
}

.informer {
    position: relative;
    float: right;
    width: 40%;
    max-width: 45%;
}

.titleOfElement {
    display: block;
    margin-left: 80px;
}

.titleOfElement a {
    font-size: 20px;
}

.titleOfElement p {
    /*Стиль подзаголовка*/
    color: #414141;
    font-size: 80%;
}

.helperImage {
    border: 1px dashed #b0b0b0;
    float: left;
    width: 60px;
    height: 60px;
}

#bottomBlock {
    display: inline-block;
}

BODY {
    padding: 0;
    background: url('/design/wide_header.jpg') no-repeat 0% 0%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

div.caroufredsel_wrapper {
    display: block;
    text-align: start;
    float: none;
    position: relative;
    z-index: auto;
    width: 950px;
    height: 81px;
    overflow: hidden;
}

div.caroufredsel_wrapper, .button_PN {
    margin-top: 25px;
}

#UMK {
    min-width: 100%;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#wideFooter {
    width: 100%;
    margin-bottom: -6px;
}

/*
#UMK{
    margin: 50px 50px 50px 20px;
}
#UMK a{
    font-size: 120%;
}
*/