.helperInscription {
    font-size: 35px;
}

.textMistake {
    width: 90%;
    display: block;
    padding-left: 50px;
    margin-top: 5em;
    color: #888888;
    font-size: x-small;
}

.help {
    position: relative;
    float: left;
    max-width: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.elementOfHelpLeft {
    position: relative;
    padding: 8px 20px 8px 20px;
    float: left;
    color: #666666;
}

.elementOfHelpRight {
    position: relative;
    padding: 8px 20px 8px 20px;
    float: right;
    color: #666666;
}

.titleOfElement {
    display: block;
    margin-left: 80px;
    padding-right: 20%;
}

.titleOfElement p {
    width: 80%;
    color: #414141;
    font-size: x-small;
}

.helperImage {
    float: left;
}

.leftElements {
    float: left;
    width: 50%;
}

.rightElements {
    float: left;
    width: 50%;
}
