DIV.helperInscription {
    font-size: 35px;
}

DIV.advertsInscription {
    font-size: 35px;
}

DIV.textMistake {
    width: 90%;
    display: block;
    padding-left: 50px;
    margin-top: 5em;
    color: #888888;
    font-size: x-small;
}

DIV.help {
    position: relative;
    float: left;
    width: 53.7%;
    height: 60%;
}

DIV.elementOfHelpLeft {
    position: relative;
    padding: 8px 20px 8px 20px;
    float: left;
    color: #666666;
}
DIV.elementOfHelpRight {
    position: relative;
    padding: 8px 20px 8px 20px;
    heigth: 18%;
    float: right;
    color: #666666;
}

DIV.titleOfElement{
    float: left;
    display: inline-block;
    height: 22%;
    margin-top: -60px;
    margin-left: 72px;
    padding-right: 20%;
}

DIV.titleOfElement p{
    width: 110%;
    color: #414141;
    font-size: x-small;
}

.helperImage{
    float: left;
}
.leftElements{
    float: left;
    display: block;
    width: 50%;
}
.rightElements{
    float: right;
    display: block;
    width: 50%;
}
.adverts{
    padding-left: 30px;
}